.form-control {
    width: 10%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
}

table {
    margin-top: 50px;
}

#fn, #ln, #email, #InputSelect, #InputSelect2, #InputSelect3, #jobtitle, #changeInput, #InputSelect4, #InputSelect5, #InputInfo4, #changeInput4, #changeInput5, #changeInput6, #SelectInput3{
    width: 75%;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
